body {
  margin: 0;
}

main {
  padding: 20px;
}


.Navbar {
  padding: 10px 40px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
}

.ListItem {
  margin-bottom: 20px;
  padding: 5px 20px;
  border: 2px solid black;
  background-color: white;
  color: black;
}

main.dark {
  background-color: black;
  padding: 20px;
}

.ListItem.dark {
  margin-bottom: 20px;
  padding: 5px 20px;
  border: 2px solid white;
  background-color: gray;
  color: white;
}

